<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Authors</title>
</head>

<body>
    <h2>Add New Author</h2>
    <form method="POST">
        Title: <input type="text" name="a" required><br>
        Authors:<br>
        {%  %}
        <input type="checkbox" name="authors" value="">
        {{  }}<br>
        {% endfor %}
        <button type="submit">Add</button>
    </form>

</body>

</html>