<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>

<body>
    <ul>
        {% for book in books_list %}
        <li>
            {{ book.title }}<br>{{ book.genre }}<br>{{ book.authors | join(', ') if book.authors else "" }}<br>
            <h2>Add Authors</h2>
            <ul>
                {% for author in authors_list %}
                <a href="/update/{{ book._id }}">{{ author.author_name }}</a>
                {{ author.author_name }}
            </ul>
            <!-- <form method="POST">
                {% for author in authors_list %}
                <input type="checkbox" name="authors" value="{{ author._id }}">
                {{ author.author_name }}
                {% endfor %}
            </form> -->
        </li>
        {% endfor %}
    </ul>
</body>

</html>